<a href="https://colab.research.google.com/github/gitmystuff/DTSC5810/blob/main/Final_Project/Merge_Join_Concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge, Join, Concatentate

* https://pandas.pydata.org/docs/user_guide/merging.html
* The data for the following example has not been cleaned
* Please clean your data before populating database

In [1]:
# create / connect to database
import sqlite3

connection = sqlite3.connect('ccpz.db') # creates / connects to db named after my team
cursor = connection.cursor()

In [2]:
import pandas as pd

# https://drive.google.com/file/d/19bAJd2y4VrkXYhuzF-TgfCCGccXvjaRZ/view?usp=drive_link
id = '19bAJd2y4VrkXYhuzF-TgfCCGccXvjaRZ'
cleo = pd.read_csv(f'https://docs.google.com/uc?id={id}')
cleo.to_sql('cleo', connection, if_exists='fail')

32

In [3]:
# https://drive.google.com/file/d/1QP3Pow1cWVXdBxhTN7G8UavIoHA6321H/view?usp=drive_link
id = '1QP3Pow1cWVXdBxhTN7G8UavIoHA6321H'
coco = pd.read_csv(f'https://docs.google.com/uc?id={id}')
coco.to_sql('coco', connection, if_exists='fail')

32

In [4]:
# https://drive.google.com/file/d/1PCCv6lIA22sc7J0Z_-y9xWqVFEdR-Pj6/view?usp=drive_link
id = '1PCCv6lIA22sc7J0Z_-y9xWqVFEdR-Pj6'
peaches = pd.read_csv(f'https://docs.google.com/uc?id={id}')
peaches.to_sql('peaches', connection, if_exists='fail')

32

In [5]:
# https://drive.google.com/file/d/1jtzVKame6XETtFzFkEqDykVVs0hPWUGA/view?usp=drive_link
id = '1jtzVKame6XETtFzFkEqDykVVs0hPWUGA'
zimba = pd.read_csv(f'https://docs.google.com/uc?id={id}')
zimba.to_sql('zimba', connection, if_exists='fail')

32

In [6]:
# get our table information
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
rows = cursor.fetchall()
table_names =  ", ".join(row[0] for row in rows if row[0] is not None)
print(table_names)

for table in table_names.split(', '):
  print(f"Table: {table}")
  cursor.execute(f"SELECT sql FROM sqlite_schema WHERE name = '{table}';")
  schema = cursor.fetchall()
  for col in schema:
    print(col[0])

  print()

cleo, coco, peaches, zimba
Table: cleo
CREATE TABLE "cleo" (
"index" INTEGER,
  "name" TEXT,
  "hp" INTEGER,
  "vs" INTEGER,
  "admit" REAL,
  "per" REAL,
  "look" REAL,
  "small" REAL,
  "good" REAL,
  "staff" INTEGER,
  "reveal" REAL,
  "fall" REAL,
  "that" REAL,
  "travel" REAL,
  "population" REAL,
  "pattern" REAL,
  "xy" TEXT,
  "xyz" TEXT,
  "fake_name" TEXT,
  "fake_surname" TEXT,
  "fake_zipcode" INTEGER,
  "fake_date_of_birth" TEXT,
  "fake_misc" TEXT
)

Table: coco
CREATE TABLE "coco" (
"index" INTEGER,
  "mpg" REAL,
  "drat" REAL,
  "am" INTEGER,
  "bed" REAL,
  "trouble" REAL,
  "difference" REAL,
  "stuff" REAL,
  "ground" REAL,
  "cup" REAL,
  "rise" REAL,
  "everything" REAL,
  "even" REAL,
  "guess" REAL,
  "throughout" INTEGER,
  "career" REAL,
  "politics" REAL,
  "xy" TEXT,
  "xyz" TEXT,
  "fake_name" TEXT,
  "fake_surname" TEXT,
  "fake_zipcode" INTEGER,
  "fake_date_of_birth" TEXT,
  "fake_misc" TEXT
)

Table: peaches
CREATE TABLE "peaches" (
"index" INTEGER,
  "cyl" INTEGER,
  "wt" REAL,
  "gear" INTEGER,
  "turn" REAL,
  "author" REAL,
  "not" REAL,
  "start" REAL,
  "me" REAL,
  "economy" REAL,
  "sport" REAL,
  "seem" REAL,
  "response" REAL,
  "within" INTEGER,
  "what" REAL,
  "car" REAL,
  "xy" TEXT,
  "xyz" TEXT,
  "fake_name" TEXT,
  "fake_surname" TEXT,
  "fake_zipcode" INTEGER,
  "fake_date_of_birth" TEXT,
  "fake_misc" TEXT
)

Table: zimba
CREATE TABLE "zimba" (
"index" INTEGER,
  "disp" REAL,
  "qsec" REAL,
  "carb" INTEGER,
  "tell" REAL,
  "our" REAL,
  "really" REAL,
  "see" INTEGER,
  "loss" REAL,
  "star" REAL,
  "especially" REAL,
  "human" REAL,
  "need" REAL,
  "consider" REAL,
  "young" REAL,
  "xy" TEXT,
  "xyz" TEXT,
  "fake_name" TEXT,
  "fake_surname" TEXT,
  "fake_zipcode" INTEGER,
  "fake_date_of_birth" TEXT,
  "fake_misc" TEXT
)

In [24]:
# select only columns that are in our original dataset
import pandas as pd

orig_data = pd.read_csv('https://raw.githubusercontent.com/gitmystuff/Datasets/main/cars.csv')
orig_cols = orig_data.columns.tolist()
print(orig_cols)

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
rows = cursor.fetchall()
table_names =  ", ".join(row[0] for row in rows if row[0] is not None)

for table in table_names.split(', '):
  my_cols = []
  print(f"Table: {table}")
  cursor.execute(f"SELECT sql FROM sqlite_schema WHERE name = '{table}';")
  schema = cursor.fetchall()
  for col in schema:
    table_cols = [col for col in col[0].replace('"', '').split()]
    my_cols = [col for col in orig_cols if col in table_cols]
    print(f'SELECT {", ".join(col for col in my_cols)} FROM {table};')

  print()

['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
Table: cleo
SELECT name, hp, vs FROM cleo;

Table: coco
SELECT mpg, drat, am FROM coco;

Table: peaches
SELECT cyl, wt, gear FROM peaches;

Table: zimba
SELECT disp, qsec, carb FROM zimba;

In [25]:
# to keep the code simple do a little manual labor
import pandas as pd

cursor.execute("SELECT name, hp, vs FROM cleo;")
cleo = pd.DataFrame(cursor.fetchall())
cleo.columns = ['name', 'hp', 'vs']
print(cleo.info())

cursor.execute("SELECT mpg, drat, am FROM coco;")
coco = pd.DataFrame(cursor.fetchall())
coco.columns = ['mpg', 'drat', 'am']
print(coco.info())

cursor.execute("SELECT cyl, wt, gear FROM peaches;")
peaches = pd.DataFrame(cursor.fetchall())
peaches.columns = ['cyl', 'wt', 'gear']
print(peaches.info())

cursor.execute("SELECT disp, qsec, carb FROM zimba;")
zimba = pd.DataFrame(cursor.fetchall())
zimba.columns = ['disp', 'qsec', 'carb']
print(zimba.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    32 non-null     object
 1   hp      32 non-null     int64
 2   vs      32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   drat    32 non-null     float64
 2   am      32 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 896.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     int64
 1   wt      32 non-null     float64
 2   gear    32 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 896.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   disp    32 non-null     float64
 1   qsec    32 non-null     float64
 2   carb    32 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 896.0 bytes
None

In [26]:
# concat column wise
df = pd.concat([cleo, coco, peaches, zimba], axis=1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    32 non-null     object
 1   hp      32 non-null     int64
 2   vs      32 non-null     int64
 3   mpg     32 non-null     float64
 4   drat    32 non-null     float64
 5   am      32 non-null     int64
 6   cyl     32 non-null     int64
 7   wt      32 non-null     float64
 8   gear    32 non-null     int64
 9   disp    32 non-null     float64
 10  qsec    32 non-null     float64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
None